.corpo {
  align-self: center;
  align-items: center;
  background-color: whitesmoke;
  color: black;
  text-align: center;
}
.teste {
  background-color: yellow;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}
